* {
  margin: 0;
  padding: 0;
}

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .poster_img {
    display: none;
    z-index: 999999999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &.action {
      display: block;
    }
  }
}