* {
  margin: 0;
  padding: 0;
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  #video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100vh;
  }
  .poster_box {
    // display: none;
    z-index: 9999;
    position: absolute;
    top: 0;
    left: -25%;
    width: 100vw;
    height: 100vh;
    background-color: yellowgreen;
    .poster_img {
      width: 100%;
      height: 100%;
      &.action {
        display: block;
      }
    }
  }
}
